<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover">
  <meta name="apple-mobile-web-app-status-bar-style" content="rgba(0, 119, 183, 0.6)">
  <meta property="og:title" content="Wordlnt">
  <meta property="og:description" content="A game of words that definitely isn't Wordle.">
  <meta property="og:image" content="https://wordlnt.herokuapp.com/thumbnailimageforwebsitepreviews">
  <link rel="stylesheet" href="style.css">
  <script src="https://kit.fontawesome.com/999a85aa00.js" crossorigin="anonymous"></script>
  <title>Wordln't</title>
</head>
<body>
  <div class="header">
    <div class="header__icon-left"></div>
    <div class="header__heading">WORDLN'T</div>
    <div class="header__icon-right">
      <i class="far fa-question-circle icon-right__info-button"></i>
    </div>
  </div>

  <div class="content">

    {{>end}}
    {{>info}}

    <div class="word-grid">

      <div class="word-grid__row word-grid__guess first">
        <div class="row__cell"></div>
        <div class="row__cell"></div>
        <div class="row__cell"></div>
        <div class="row__cell"></div>
        <div class="row__cell"></div>
      </div>

      <div class="word-grid__row word-grid__guess second">
        <div class="row__cell"></div>
        <div class="row__cell"></div>
        <div class="row__cell"></div>
        <div class="row__cell"></div>
        <div class="row__cell"></div>
      </div>

      <div class="word-grid__row word-grid__guess third">
        <div class="row__cell"></div>
        <div class="row__cell"></div>
        <div class="row__cell"></div>
        <div class="row__cell"></div>
        <div class="row__cell"></div>
      </div>

      <div class="word-grid__row word-grid__guess fourth">
        <div class="row__cell"></div>
        <div class="row__cell"></div>
        <div class="row__cell"></div>
        <div class="row__cell"></div>
        <div class="row__cell"></div>
      </div>

      <div class="word-grid__row word-grid__guess fifth">
        <div class="row__cell"></div>
        <div class="row__cell"></div>
        <div class="row__cell"></div>
        <div class="row__cell"></div>
        <div class="row__cell"></div>
      </div>

      <div class="word-grid__row word-grid__guess sixth">
        <div class="row__cell"></div>
        <div class="row__cell"></div>
        <div class="row__cell"></div>
        <div class="row__cell"></div>
        <div class="row__cell"></div>
      </div>

    </div>
    <div class="keyboard">

      <div class="keyboard__row">
        <div class="row__key" data-key="Q">Q</div>
        <div class="row__key" data-key="W">W</div>
        <div class="row__key" data-key="E">E</div>
        <div class="row__key" data-key="R">R</div>
        <div class="row__key" data-key="T">T</div>
        <div class="row__key" data-key="Y">Y</div>
        <div class="row__key" data-key="U">U</div>
        <div class="row__key" data-key="I">I</div>
        <div class="row__key" data-key="O">O</div>
        <div class="row__key" data-key="P">P</div>
      </div>
      <div class="keyboard__row row__middle">
        <div class="row__key" data-key="A">A</div>
        <div class="row__key" data-key="S">S</div>
        <div class="row__key" data-key="D">D</div>
        <div class="row__key" data-key="F">F</div>
        <div class="row__key" data-key="G">G</div>
        <div class="row__key" data-key="H">H</div>
        <div class="row__key" data-key="J">J</div>
        <div class="row__key" data-key="K">K</div>
        <div class="row__key" data-key="L">L</div>
      </div>
      <div class="keyboard__row">
        <div class="row__key wide" data-key="turn"><i class="far fa-check-circle" data-key="turn"></i></div>
        <div class="row__key" data-key="Z">Z</div>
        <div class="row__key" data-key="X">X</div>
        <div class="row__key" data-key="C">C</div>
        <div class="row__key" data-key="V">V</div>
        <div class="row__key" data-key="B">B</div>
        <div class="row__key" data-key="N">N</div>
        <div class="row__key" data-key="M">M</div>
        <div class="row__key key_wide" data-key="del"><i class="far fa-times-circle" data-key="del"></i></div>
      </div>

    </div>
  </div>
</body>
<script src="game.js" type="module"></script>
</html>
