
* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(40, 40, 40)
}

body {
  margin: 0;
}

.content {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 40px;
  height: 10%
}


/*/// Guesses grid ///*/

.word-grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 400px;
}

.row {
  display: flex;
  height: 60px;
  margin: 4px 0px;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border: 2px solid rgb(40, 40, 40);
  margin: 0px 2px 0px 2px;
  border-radius: 4px;
}



/*/// Keyboard ///*/

.keyboard {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.key-row {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.key-row.middle {
  padding: 0px 12px
}

.key {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 48px;
  border: 2px solid rgb(40, 40, 40);
  font-size: 18px;
  border-radius: 8px;
  margin: 4px;
  transition: all 0.5s
}

.key.wide {
  width: 48px;
}

.incorrect {
  background-color: gray;
  color: white;
  transition: all 0.5s
}

.correct {
  background-color: green;
  color: white;
  transition: all 0.5s
}

.almost {
  background-color: rgb(244, 218, 20);
  color: white;
  transition: all 0.5s
}
