<div class="end overlay">
  <div class="end overlay__details">
    <div class="end__word">

    </div>
    <div class="end__timer">
      Next word in <br><span class="next-timer"></span>
    </div>
  </div>

</div>
