<div class="end overlay">
  <div class="end overlay-details">
    <div class="end-word">

    </div>
    <div class="end-timer">
      Next word in <br><span class="next-timer"></span>
    </div>
  </div>

</div>
