<div class="info overlay">
  <div class="info overlay-details">
    Hi! This is my version of Wordle, a popular word guessing game (but you probably already know that).

    <br><br>

    As far as I'm aware Josh Wardle is the original creator of this game - he's the creator of the version that inspired
    this one at any rate.
  </div>
</div>
