<div class="info overlay">
  <div class="info overlay-details">
    Hi! This is my version of Wordle/Jotto, a popular word guessing game (but you probably already know that).

    <br><br>

    As far as I'm aware, turning Jotto into a game like was Josh Wardle's idea - he's the creator of the version that inspired
    this one at any rate, so credit to him where it's due.
  </div>
</div>
