<div class="info overlay">
  <div class="info overlay-details">
    Hi! This is my version of Wordle, a popular word guessing game (but you probably already know that). I made
    this for a bit of fun while the original was free from the clutches of the NYT - since it's my own code and
    I'm not looking to profit off of this in any way, I think having it out in the wild is fair game (although
    I'm sure some people will have other ideas).

    <br><br>

    As far as I'm aware Josh Wardle is the original creator of this game - he's the creator of the version that inspired
    this one at any rate.
  </div>
</div>
